absl-py==1.0.0
ale-py==0.7.5
angles==2.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
attrs==21.4.0
audioread==2.1.9
Babel==2.12.1
bokeh
boto3==1.21.0
botocore==1.24.0
bravado==11.0.3
bravado-core==5.17.0
cachetools==5.0.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chex==0.1.4
click==8.0.3
cloudpickle==1.6.0
cmaes==0.8.2
coloredlogs==15.0.1
colorlog==6.6.0
cupy-cuda11x==11.4.0
cvxpy==1.2.0
cycler==0.11.0
Cython==0.29.27
decorator==5.1.1
Deprecated==1.2.13
descartes==1.1.0
dm-tree==0.1.7
ecos==2.0.10
etils==0.7.1
fastjsonschema==2.16.3
fastrlock==0.8.1
filelock==3.4.2
filterpy==1.4.5
fire==0.4.0
flatbuffers==23.3.3
fonttools==4.29.1
fqdn==1.5.1
future==0.18.2
gitdb==4.0.9
GitPython==3.1.26
google-auth==2.6.6
google-auth-oauthlib==0.4.6
GPy==1.10.0
grpcio==1.43.0
gym==0.21.0
gym-notices==0.0.7
h11==0.14.0
h5py==3.7.0
HeapDict==1.0.1
humanfriendly==10.0
imageio==2.14.1
importlib-metadata==4.12.0
importlib-resources==5.7.1
iniconfig==1.1.1
isoduration==20.11.0
jax==0.3.16
jaxlib==0.3.15
Jinja2==2.10.3
jmespath==0.10.0
jmp==0.0.2
joblib==1.2.0
json5==0.9.11
jsonpickle==2.1.0
jsonpointer==2.2
jsonref==0.2
jsonschema==4.17.3
kiwisolver==1.3.2
librosa==0.4.2
llvmlite==0.38.1
lxml==4.8.0
Markdown==3.3.6
matplotlib==3.5.1
mctx==0.0.2
mistune==2.0.5
mkl-fft==1.3.1
mkl-service==2.4.0
monotonic==1.6
mpi4py==3.1.4
mpmath==1.2.1
msgpack==1.0.3
neptune-client==0.14.3
nest-asyncio==1.4.3
networkx
noise
notebook_shim==0.2.2
numba==0.55.2
numpy==1.22.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-nvcc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.0.131
oauthlib==3.2.0
onnx
onnxruntime==1.14.1
opax==0.2.11
opencv-python==4.6.0.66
opt-einsum==3.3.0
optax==0.1.3
osqp
packaging==21.3
pandas==1.4.3
paramz==0.9.5
pax3
Pillow==9.3.0
progressbar2==3.53.1
protobuf==3.20.3
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules
pyglet==1.5.21
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-fcl
python-utils
pytools
PyWavelets==1.3.0
PyYAML==5.4.1
ray==1.9.2
requests
requests-oauthlib
ruamel.yaml==0.17.21
scikit-image==0.19.2
scipy==1.7.3
simplejson
stable-baselines3==1.5.0
sympy==1.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.4.1
tensorrt==8.5.1.7
toolz
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tornado
tqdm
trajax @ git+https://github.com/google/trajax@a14d248294e9c8f74f10a10e787af24ac6be1ad7
tryalgo
typing_extensions
ujson
uri-template
urllib3
webcolors==1.11.1
websocket-client
wrapt==1.13.3
xacro
xmltodict
yasha
zipp==3.8.0
